doctype html
html(lang='zh-CN')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/statics/dist/main.6e37b0fcfd118e6e.css', rel='stylesheet')
        title=title
    h1= message
